@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <a class="btn btn-info btn-lg" role="button" asp-controller="FormatConverter" asp-action="Index">Format Converter</a>
 </div>
